* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-calculator {
    border: 1px solid blue;
    width: 35%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-inside-calculator {
    border: 1px dashed blue;
    width: 95%;
    height: 95%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.body-top-display {
    border: 1px dashed red;
    width: 100%;
    height: 20%;
    padding: 2%;
}

.body-bottom-buttons {
    border: 1px dashed red;
    width: 100%;
    height: 75%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    gap: 9.6px 9.6px;
}

#equal {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#decimal {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#delete {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#four {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#five {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#six {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#seven {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.buttons {
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}